/* You can add global styles to this file, and also import other style files */
.row {
    display: flex;
    margin-left: 10px;
}
.col {
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 20px;
}
input {
    display: block;
    margin-right: 2px;
}